# Listiness.. or things that behave like lists

Python puts great stock in the idea of having  **protocols** or mechanisms of behavior, and identifying cases in which this behavior is common.

One of the most important ideas is that of things that behave like a *list of items*.

## Lists

The first of these that we should consider, are, well, lists themselves :-). Lets see how python lists behave.

A list in Python is a sequence of anything!

Lists are mutable; you can insert and delete elements anytime.

In [1]:
# CREATING A LIST

# A list is made from zero or more elements, separated by commas, and surrounded by square
empty_list = []
working_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
print (working_days[2])

Notice that Python lists are indexed from 0. The first element gets index 0, the second element gets index 1, and so on. Thus `working_days[2]` gives us the 3rd element.

In [2]:
# An empty list can be created using the list() function:
next_empty_list = list()
print (type(next_empty_list))

<class 'list'>

There is a class of objects in Python that are not lists, bur rather, like lists, have a sequential existent. We dont want to generate them until we need them because they are easy to generate and would otherwise take up memory. An example is the
object created by the function `range(start, stop)` which just gives you sequential numbers from start to 1 before stop. To generate these numbers, we can pass them to the `list` function

In [4]:
num_list = list(range(1,10)) 
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# Lists are mutable (elements are changeable) 
num_list = [1, 2, 3, 4]
num_list[1] = 8 
print (num_list)

[1, 8, 3, 4]

In [6]:
# Indexing a list
# - Any integer expression can be used as an index
# - If an index has a negative value, it counts from backward
lst = list(range(1,5))
print(lst)
print (lst[-1])

[1, 2, 3, 4]
4

You can get slices of lists

In [30]:
lst[0:3] # from 0, dont include whats at index 3

[1, 2, 3]

In [31]:
lst[-3:-1]

[2, 3]

In [7]:
# A list can have another list, or anything else as its element
numbers = [1, 2, 3, 4, 5]
courses = ['PP', 'BDA', "USP", 'WTA'] 
new_list = [numbers, courses, '6th sem'] 
print (new_list, len(new_list))

[[1, 2, 3, 4, 5], ['PP', 'BDA', 'USP', 'WTA'], '6th sem'] 3

In [8]:
# List Operations
# '+' for concatenation
list_a = ['a','b','c'] 
list_no = [1, 2, 3, 4] 
list_new = list_a + list_no
print (list_new)

['a', 'b', 'c', 1, 2, 3, 4]

In [9]:
#Membership (using 'in' operator)
'a' in list_a

True

## Operations on lists

Lists support many methods which make using them simple. My favorite is `append`.

### Growing lists

In [10]:
# GROWING METHODS
# (i) append(x) - Adds a new element 'x' at the end of the list
alist = ['a', 'b', 'c'] 
alist.append('d') 
print (alist)

['a', 'b', 'c', 'd']

In [11]:
# (ii) extend(list) - Adds a list to another list 
alist.extend(list_no)
print (alist)

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [12]:
# (iii) insert(i, x) - inserts a new element 'x' at specified index 'i' 
alist.insert(4,'e')
print(alist)

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4]

### Searching and Sorting

In [13]:
# Searching methods
# (i) index(x) - returns the index value of 'x' in the list
alist = [1, 2, 3, 4, 5] 
alist.index(3)

2

In [14]:
# (ii) count(x) - returns the number of occurrence of 'x' in the list eg:
alist.append(3)
print (alist) 
alist.count(3)

[1, 2, 3, 4, 5, 3]

2

In [15]:
# SORTING METHODS
# (a) sort() - Orders a list 'in place'. Default ordering - ascending order
num = [4, 2, 7, 3, 9, 1] 
num.sort()
num

[1, 2, 3, 4, 7, 9]

In [16]:
# To change the order of sorting, use the keyword 'reverse' as an argument to sort()
num = [4, 2, 7, 3, 9, 1] 
num.sort(reverse = True)
num

[9, 7, 4, 3, 2, 1]

In [17]:
# (b) sorted(list) - returns the sorted 'list', but does not replace order in original list 
num = [ 4, 6, 2]
num = sorted(num)
num

[2, 4, 6]

### Changing and shortening

You can change any list by individually changing an element. There are some other things you can do as well...

In [18]:
# Reverse a list

# reversed(list) - returns the reverse of 'list' as iterator eg:
L = list(range(1,5))
print (L)
print (list(reversed(L)))

[1, 2, 3, 4]
[4, 3, 2, 1]

In [19]:
# SHRINKING METHODS
# (a) remove(x) - removes the element 'x' from the list
num = [4, 7, 2, 6, 3, 9] 
num.remove(2)
num

[4, 7, 6, 3, 9]

In [20]:
# (b) pop(i) - removes and returns the element in index position 'i'
num = [4, 7, 2, 6, 3, 9] 
num.pop(3)
num

[4, 7, 2, 3, 9]

In [21]:
# (c) pop() - removes the last element from the list
num = [4, 7, 2, 6, 3, 9] 
num.pop()
num

[4, 7, 2, 6, 3]

In [22]:
# (d) clear() - removes all the elements from a list.
num = [4, 7, 2, 6, 3, 9]
num.clear()
num

[]

## Iterating over lists

Using a for loop to do iteration is quite simple.

In [23]:
num = [4, 7, 2, 6, 3, 9]
for ele in num:
    print(ele)

4
7
2
6
3
9

You can now mix in conditionals to filter your iteration:

In [24]:
for ele in num:
    if ele % 2 == 0: #even numbers only
        print(ele)

4
2
6

There is a short-cut iteration syntax called a list comprehension, often used to construct new lists

In [25]:
list_with_same_as_num = [e for e in num]
list_with_same_as_num

[4, 7, 2, 6, 3, 9]

This kind of syntax is really useful when combined with conditionals:

In [26]:
list_with_evens = [e for e in num if e % 2 == 0]
list_with_evens

[4, 2, 6]

## Strings

Strings such as `hello world` in python behave just like lists, and a lot of what you learn about lists applies to them: they are **iterable**, and they have a length! But they have one critical additional property: they are **immutable**, that is they cant be changed!

In [28]:
var = "This is a string"
print (var, len(var))
print (var[3]) # the s of This

This is a string 16
s

In [32]:
for char in var:
    print(char)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [29]:
var[3] = "t" # this will fail because immutability

TypeError: 'str' object does not support item assignment

Strings cab be sliced just as lists can

In [27]:
#String slicing
print (var[6:])
print (var[1:3])
print (var[:-1])
print (var[2:10:2]) #the last parameter is for chagning the step size

16
s
s a string
hi
This is a strin
i sa

### String Functions

Some built-in functions for string manipulations:

*   capitalize()
*   center()
*   count()
*   decode()
*   encode()
*   endswith()
*   expandtabs()
*   find()
*   format()
*   index()
*   isalpha()
*   isdigit()
*   islower()
*   isspace()
*   isupper()
*   join()
*   ljust()
*   lower()
*   isalnum()
*   istitle()
*   lstrip()
*   rjust()
*   splitlines()
*   startswith()
*   strip()
*   partition()
*   replace()
*   rfind()
*   rindex()
*   rpartition()
*   rsplit()
*   rstrip()
*   split()
*   swapcase()
*   title()
*   translate()
*   upper()

**[PRGRAMMING EXERCISE]**

Consider the string "HelloWorld,123,ThisIsUniv.Ai". Find the number of uppercase, lowercase, special character and numerical characters.

In [ ]:
#Try your code here

## Files

The built-in `open()` function creates a Python file object, which serves as a link to a file residing on your machine. After calling 'open()', strings of data can be transferred to and from the associated external file by calling the returned file object's methods.

At this point, you can read data from the file as a whole (`read()`, or `n` bytes at a time, `read(n)`. You can read a line at a time with `readline()`, and all the lines into a list of strings with `readlines()`. Similar methods exist for writing.

You must close the file after you finish using it.

But as you might have expected, you can treat a file just like a list even more idiomatically, as we shall see.

In [37]:
fd = open("data/Julius Caesar.txt")
counter = 0
for line in fd:
    if counter < 10: # print first 10 lines
        print("<<", line, ">>")
    counter = counter + 1 # also writeable as counter += 1
fd.close()

<< THE TRAGEDY OF JULIUS CAESAR
 >>
<<
 >>
<<
 >>
<< by William Shakespeare
 >>
<<
 >>
<<
 >>
<< Contents
 >>
<<
 >>
<< ACT I
 >>
<< Scene I. Rome. A street.
 >>

Notice that the newlines remain. You can use the string method `strip` to remove them.

In [41]:
fd = open("data/Julius Caesar.txt")
counter = 0
for line in fd:
    if counter < 10: # print first 10 lines
        print("<<", line.strip(), ">>")
    else:
        break # break out of for loop
    counter = counter + 1 # also writeable as counter += 1
fd.close()
print(counter)

<< THE TRAGEDY OF JULIUS CAESAR >>
<<  >>
<<  >>
<< by William Shakespeare >>
<<  >>
<<  >>
<< Contents >>
<<  >>
<< ACT I >>
<< Scene I. Rome. A street. >>
10

Above we added a `break` statement in the for loop which ended our iteration through the file. You can use `readlines()` here but it will read the entire file into memory.

In [42]:
fd = open("data/Julius Caesar.txt")
lines = [line.strip() for line in fd.readlines()]
fd.close()
print(len(lines))

4639

### What about writing?

Lets write the first ten lines out...

In [44]:
fd = open("data/Julius Caesar.txt")
fd2 = open("data/julfirst10.txt", "w")
counter = 0
for line in fd:
    if counter < 10: # print first 10 lines
        print("<<", line.strip(), ">>")
        fd2.write(line)
    else:
        break # break out of for loop
    counter = counter + 1 # also writeable as counter += 1
fd.close()
fd2.close()
print(counter)

<< THE TRAGEDY OF JULIUS CAESAR >>
<<  >>
<<  >>
<< by William Shakespeare >>
<<  >>
<<  >>
<< Contents >>
<<  >>
<< ACT I >>
<< Scene I. Rome. A street. >>
10

## A working Example

In [48]:
## Read a file, parse lines, and get all words

# make a list with all words in documents
# the words can occur more than once
wordlist = []  
fd = open("data/Julius Caesar.txt")
lines = fd.readlines()
fd.close()
# strip newline characters and other whitespace off the edges
cleaned_lines = [line.strip() for line in lines] 
# make a list of lists. 
# each inner list if the list of words on that line
list_of_lines_words = [line.split() for line in lines]
# Take each list of words, and get all the words
for lines_words in list_of_lines_words:
    wordlist = wordlist + lines_words # update the wordlist using the new list.
print(wordlist[:1000]) # first 1000 words

['THE', 'TRAGEDY', 'OF', 'JULIUS', 'CAESAR', 'by', 'William', 'Shakespeare', 'Contents', 'ACT', 'I', 'Scene', 'I.', 'Rome.', 'A', 'street.', 'Scene', 'II.', 'The', 'same.', 'A', 'public', 'place.', 'Scene', 'III.', 'The', 'same.', 'A', 'street.', 'ACT', 'II', 'Scene', 'I.', 'Rome.', 'Brutusâ€™', 'orchard.', 'Scene', 'II.', 'A', 'room', 'in', 'Caesarâ€™s', 'palace.', 'Scene', 'III.', 'A', 'street', 'near', 'the', 'Capitol.', 'Scene', 'IV.', 'Another', 'part', 'of', 'the', 'same', 'street,', 'before', 'the', 'house', 'of', 'Brutus.', 'ACT', 'III', 'Scene', 'I.', 'Rome.', 'Before', 'the', 'Capitol;', 'the', 'Senate', 'sitting.', 'Scene', 'II.', 'The', 'same.', 'The', 'Forum.', 'Scene', 'III.', 'The', 'same.', 'A', 'street.', 'ACT', 'IV', 'Scene', 'I.', 'A', 'room', 'in', 'Antonyâ€™s', 'house.', 'Scene', 'II.', 'Before', 'Brutusâ€™', 'tent,', 'in', 'the', 'camp', 'near', 'Sardis.', 'Scene', 'III.', 'Within', 'the', 'tent', 'of', 'Brutus.', 'ACT', 'V', 'Scene', 'I.', 'The', 'plains', 'of', 'Philippi.', 'Scene', 'II.', 'The', 'same.', 'The', 'field', 'of', 'battle.', 'Scene', 'III.', 'Another', 'part', 'of', 'the', 'field.', 'Scene', 'IV.', 'Another', 'part', 'of', 'the', 'field.', 'Scene', 'V.', 'Another', 'part', 'of', 'the', 'field.', 'Dramatis', 'PersonÃ¦', 'JULIUS', 'CAESAR', 'OCTAVIUS', 'CAESAR,', 'Triumvir', 'after', 'his', 'death.', 'MARCUS', 'ANTONIUS,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'M.', 'AEMILIUS', 'LEPIDUS,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'CICERO,', 'PUBLIUS,', 'POPILIUS', 'LENA,', 'Senators.', 'MARCUS', 'BRUTUS,', 'Conspirator', 'against', 'Caesar.', 'CASSIUS,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'CASCA,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'TREBONIUS,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'LIGARIUS,â€\x9d', 'â€\x9d', 'â€\x9d', 'DECIUS', 'BRUTUS,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'METELLUS', 'CIMBER,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'CINNA,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'FLAVIUS,', 'tribune', 'MARULLUS,', 'tribune', 'ARTEMIDORUS,', 'a', 'Sophist', 'of', 'Cnidos.', 'A', 'Soothsayer', 'CINNA,', 'a', 'poet.', 'Another', 'Poet.', 'LUCILIUS,', 'TITINIUS,', 'MESSALA,', 'young', 'CATO,', 'and', 'VOLUMNIUS,', 'Friends', 'to', 'Brutus', 'and', 'Cassius.', 'VARRO,', 'CLITUS,', 'CLAUDIUS,', 'STRATO,', 'LUCIUS,', 'DARDANIUS,', 'Servants', 'to', 'Brutus', 'PINDARUS,', 'Servant', 'to', 'Cassius', 'CALPHURNIA,', 'wife', 'to', 'Caesar', 'PORTIA,', 'wife', 'to', 'Brutus', 'The', 'Ghost', 'of', 'Caesar', 'Senators,', 'Citizens,', 'Soldiers,', 'Commoners,', 'Messengers,', 'and', 'Servants.', 'SCENE:', 'Rome,', 'the', 'conspiratorsâ€™', 'camp', 'near', 'Sardis,', 'and', 'the', 'plains', 'of', 'Philippi.', 'ACT', 'I', 'SCENE', 'I.', 'Rome.', 'A', 'street.', 'Enter', 'Flavius,', 'Marullus', 'and', 'a', 'throng', 'of', 'Citizens.', 'FLAVIUS.', 'Hence!', 'home,', 'you', 'idle', 'creatures,', 'get', 'you', 'home.', 'Is', 'this', 'a', 'holiday?', 'What,', 'know', 'you', 'not,', 'Being', 'mechanical,', 'you', 'ought', 'not', 'walk', 'Upon', 'a', 'labouring', 'day', 'without', 'the', 'sign', 'Of', 'your', 'profession?', 'Speak,', 'what', 'trade', 'art', 'thou?', 'CARPENTER.', 'Why,', 'sir,', 'a', 'carpenter.', 'MARULLUS.', 'Where', 'is', 'thy', 'leather', 'apron', 'and', 'thy', 'rule?', 'What', 'dost', 'thou', 'with', 'thy', 'best', 'apparel', 'on?', 'You,', 'sir,', 'what', 'trade', 'are', 'you?', 'COBBLER.', 'Truly,', 'sir,', 'in', 'respect', 'of', 'a', 'fine', 'workman,', 'I', 'am', 'but,', 'as', 'you', 'would', 'say,', 'a', 'cobbler.', 'MARULLUS.', 'But', 'what', 'trade', 'art', 'thou?', 'Answer', 'me', 'directly.', 'COBBLER.', 'A', 'trade,', 'sir,', 'that', 'I', 'hope', 'I', 'may', 'use', 'with', 'a', 'safe', 'conscience,', 'which', 'is', 'indeed,', 'sir,', 'a', 'mender', 'of', 'bad', 'soles.', 'MARULLUS.', 'What', 'trade,', 'thou', 'knave?', 'Thou', 'naughty', 'knave,', 'what', 'trade?', 'COBBLER.', 'Nay,', 'I', 'beseech', 'you,', 'sir,', 'be', 'not', 'out', 'with', 'me;', 'yet,', 'if', 'you', 'be', 'out,', 'sir,', 'I', 'can', 'mend', 'you.', 'MARULLUS.', 'What', 'meanâ€™st', 'thou', 'by', 'that?', 'Mend', 'me,', 'thou', 'saucy', 'fellow!', 'COBBLER.', 'Why,', 'sir,', 'cobble', 'you.', 'FLAVIUS.', 'Thou', 'art', 'a', 'cobbler,', 'art', 'thou?', 'COBBLER.', 'Truly,', 'sir,', 'all', 'that', 'I', 'live', 'by', 'is', 'with', 'the', 'awl;', 'I', 'meddle', 'with', 'no', 'tradesmanâ€™s', 'matters,', 'nor', 'womenâ€™s', 'matters,', 'but', 'withal', 'I', 'am', 'indeed,', 'sir,', 'a', 'surgeon', 'to', 'old', 'shoes:', 'when', 'they', 'are', 'in', 'great', 'danger,', 'I', 'recover', 'them.', 'As', 'proper', 'men', 'as', 'ever', 'trod', 'upon', 'neatâ€™s', 'leather', 'have', 'gone', 'upon', 'my', 'handiwork.', 'FLAVIUS.', 'But', 'wherefore', 'art', 'not', 'in', 'thy', 'shop', 'today?', 'Why', 'dost', 'thou', 'lead', 'these', 'men', 'about', 'the', 'streets?', 'COBBLER.', 'Truly,', 'sir,', 'to', 'wear', 'out', 'their', 'shoes,', 'to', 'get', 'myself', 'into', 'more', 'work.', 'But', 'indeed,', 'sir,', 'we', 'make', 'holiday', 'to', 'see', 'Caesar,', 'and', 'to', 'rejoice', 'in', 'his', 'triumph.', 'MARULLUS.', 'Wherefore', 'rejoice?', 'What', 'conquest', 'brings', 'he', 'home?', 'What', 'tributaries', 'follow', 'him', 'to', 'Rome,', 'To', 'grace', 'in', 'captive', 'bonds', 'his', 'chariot', 'wheels?', 'You', 'blocks,', 'you', 'stones,', 'you', 'worse', 'than', 'senseless', 'things!', 'O', 'you', 'hard', 'hearts,', 'you', 'cruel', 'men', 'of', 'Rome,', 'Knew', 'you', 'not', 'Pompey?', 'Many', 'a', 'time', 'and', 'oft', 'Have', 'you', 'climbâ€™d', 'up', 'to', 'walls', 'and', 'battlements,', 'To', 'towers', 'and', 'windows,', 'yea,', 'to', 'chimney', 'tops,', 'Your', 'infants', 'in', 'your', 'arms,', 'and', 'there', 'have', 'sat', 'The', 'livelong', 'day', 'with', 'patient', 'expectation,', 'To', 'see', 'great', 'Pompey', 'pass', 'the', 'streets', 'of', 'Rome.', 'And', 'when', 'you', 'saw', 'his', 'chariot', 'but', 'appear,', 'Have', 'you', 'not', 'made', 'an', 'universal', 'shout,', 'That', 'Tiber', 'trembled', 'underneath', 'her', 'banks', 'To', 'hear', 'the', 'replication', 'of', 'your', 'sounds', 'Made', 'in', 'her', 'concave', 'shores?', 'And', 'do', 'you', 'now', 'put', 'on', 'your', 'best', 'attire?', 'And', 'do', 'you', 'now', 'cull', 'out', 'a', 'holiday?', 'And', 'do', 'you', 'now', 'strew', 'flowers', 'in', 'his', 'way,', 'That', 'comes', 'in', 'triumph', 'over', 'Pompeyâ€™s', 'blood?', 'Be', 'gone!', 'Run', 'to', 'your', 'houses,', 'fall', 'upon', 'your', 'knees,', 'Pray', 'to', 'the', 'gods', 'to', 'intermit', 'the', 'plague', 'That', 'needs', 'must', 'light', 'on', 'this', 'ingratitude.', 'FLAVIUS.', 'Go,', 'go,', 'good', 'countrymen,', 'and,', 'for', 'this', 'fault', 'Assemble', 'all', 'the', 'poor', 'men', 'of', 'your', 'sort,', 'Draw', 'them', 'to', 'Tiber', 'banks,', 'and', 'weep', 'your', 'tears', 'Into', 'the', 'channel,', 'till', 'the', 'lowest', 'stream', 'Do', 'kiss', 'the', 'most', 'exalted', 'shores', 'of', 'all.', '[_Exeunt', 'Citizens._]', 'See', 'whether', 'their', 'basest', 'metal', 'be', 'not', 'movâ€™d;', 'They', 'vanish', 'tongue-tied', 'in', 'their', 'guiltiness.', 'Go', 'you', 'down', 'that', 'way', 'towards', 'the', 'Capitol;', 'This', 'way', 'will', 'I.', 'Disrobe', 'the', 'images,', 'If', 'you', 'do', 'find', 'them', 'deckâ€™d', 'with', 'ceremonies.', 'MARULLUS.', 'May', 'we', 'do', 'so?', 'You', 'know', 'it', 'is', 'the', 'feast', 'of', 'Lupercal.', 'FLAVIUS.', 'It', 'is', 'no', 'matter;', 'let', 'no', 'images', 'Be', 'hung', 'with', 'Caesarâ€™s', 'trophies.', 'Iâ€™ll', 'about', 'And', 'drive', 'away', 'the', 'vulgar', 'from', 'the', 'streets;', 'So', 'do', 'you', 'too,', 'where', 'you', 'perceive', 'them', 'thick.', 'These', 'growing', 'feathers', 'pluckâ€™d', 'from', 'Caesarâ€™s', 'wing', 'Will', 'make', 'him', 'fly', 'an', 'ordinary', 'pitch,', 'Who', 'else', 'would', 'soar', 'above', 'the', 'view', 'of', 'men,', 'And', 'keep', 'us', 'all', 'in', 'servile', 'fearfulness.', '[_Exeunt._]', 'SCENE', 'II.', 'The', 'same.', 'A', 'public', 'place.', 'Enter,', 'in', 'procession,', 'with', 'music,', 'Caesar;', 'Antony,', 'for', 'the', 'course;', 'Calphurnia,', 'Portia,', 'Decius,', 'Cicero,', 'Brutus,', 'Cassius', 'and', 'Casca;', 'a', 'great', 'crowd', 'following,', 'among', 'them', 'a', 'Soothsayer.', 'CAESAR.', 'Calphurnia.', 'CASCA.', 'Peace,', 'ho!', 'Caesar', 'speaks.', '[_Music', 'ceases._]', 'CAESAR.', 'Calphurnia.', 'CALPHURNIA.', 'Here,', 'my', 'lord.', 'CAESAR.', 'Stand', 'you', 'directly', 'in', 'Antoniusâ€™', 'way,', 'When', 'he', 'doth', 'run', 'his', 'course.', 'Antonius.', 'ANTONY.', 'Caesar,', 'my', 'lord?', 'CAESAR.', 'Forget', 'not', 'in', 'your', 'speed,', 'Antonius,', 'To', 'touch', 'Calphurnia;', 'for', 'our', 'elders', 'say,', 'The', 'barren,', 'touched', 'in', 'this', 'holy', 'chase,', 'Shake', 'off', 'their', 'sterile', 'curse.', 'ANTONY.', 'I', 'shall', 'remember.']